---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OWM_API_KEY>&lat=37.422&lon=-122.084&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.084,"lat":37.422},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":56.61,"feels_like":56.01,"temp_min":56.61,"temp_max":56.61,"pressure":1011,"humidity":86,"sea_level":1011,"grnd_level":997},"visibility":10000,"wind":{"speed":2.64,"deg":220,"gust":2.59},"clouds":{"all":0},"dt":1759918460,"sys":{"country":"US","sunrise":1759932606,"sunset":1759974069},"timezone":-25200,"id":5375480,"name":"Mountain
        View","cod":200}'
  recorded_at: Wed, 08 Oct 2025 10:14:20 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<OWM_API_KEY>&lat=37.422&lon=-122.084&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1759924800,"main":{"temp":55.81,"feels_like":55.04,"temp_min":53.42,"temp_max":55.81,"pressure":1011,"sea_level":1011,"grnd_level":997,"humidity":84,"temp_kf":1.33},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":3.6,"deg":209,"gust":4.45},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2025-10-08
        12:00:00"},{"dt":1759935600,"main":{"temp":56.35,"feels_like":55.63,"temp_min":56.01,"temp_max":56.35,"pressure":1011,"sea_level":1011,"grnd_level":998,"humidity":84,"temp_kf":0.19},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":6},"wind":{"speed":4.59,"deg":196,"gust":5.97},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-10-08
        15:00:00"},{"dt":1759946400,"main":{"temp":57.36,"feels_like":55.47,"temp_mi[...]
